body {
  font-family: Arial, sans-serif;
  background-color: #fffafc;
  padding: 20px;
}

h1 {
  color: #cc6699;
}

.semestre {
  border: 2px solid #cc6699;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.ramo {
  background-color: #ffd9e6;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.ramo.aprobado {
  background-color: #ff99cc !important;
}

.ramo.bloqueado {
  background-color: #cccccc !important;
  cursor: not-allowed;
  opacity: 0.7;
}
